/*
Last Updated By: Unknown
On: 06/05/2013 03:25:53
*/

/* begin hover nav */

#pthnavcontainer {
float:none;
background-image: url(%Image(PT_BREADCRUMB_CSS3));
background-repeat: repeat-x;
border-top: none;
border-bottom: none;
width:100%;
height:26px;
margin:0 0 0 0;
/*margin-%AlignStart:2px;*/
padding:0;
display:none;  /*in PT_HNAV_JS init function this is toggled to display=block */
position:relative;
z-index:211;
}
.eppbr_top_bar .pthnavshadow {
    left: 3px;
    margin-top: -1px;
}
#pthnavfly_PORTAL_ROOT_OBJECT .pthnavshadow {
    left: -3px;
}
* html #pthnavcontainer {
float:none;
background-image: url(%Image(PT_BREADCRUMB_CSS3));
background-repeat: repeat-x;
border-top: none;
border-bottom: none;
width:100%;
height:26px;
margin:0 0 0 0;
/*margin-%AlignStart:2px;*/
padding:0;
display:none;  /*in PT_HNAV_JS init function this is toggled to display=block */
}

.pthnav, .pthnav ul, #pthnavbc ul {
margin: 0;
padding: 0;
border: 0 none;
list-style-type: none;
display: block;
}

.pthnav ul ul {
position: relative;
}

.pthnav li {
    display: block;
    float: %AlignStart;	
    margin: 0 0.2em;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 2px;
    position: relative;
}

/* quirks mode code to bring breadcrumb links to the middle */
* html .pthnav li {
padding-top: 2px;
}

/*IE7 requires this to be inline, inline-block works in IE8 but stick with inline */
li.pthbcdispinline{
display: inline;
}

/*requires inline-block for FF for when ajax req is finished */
li.pthbcdispiblock{
display: inline-block;
}

#pthnavbc li {
/*margin: 0 .3em;*/
margin: 0 0;
padding-right: 3px;
padding-left:2px;
zoom:1;  /* for IE so that down arrow shows up */
position: relative;	
unicode-bidi: inherit; /*required for bidi */
}

.pthnav a, .pthnav span, #pthnavbc a, #pthnavbc span {
text-decoration: none;
padding-right: 9pt;
position: relative;
font:10pt Arial,Tahoma,Verdana;
color:#284562;
vertical-align:middle;
}

* html .pthnav a,
* html .pthnav span,
* html #pthnavbc a,
* html #pthnavbc span {
text-decoration: none;
padding-right: 13px;
position: relative;
font:9pt Arial,Tahoma,Verdana;
color:#284562;
vertical-align:middle;
}

/* quirks mode style to adjust the drop down links in IE */
* html .pthnav a {
text-decoration: none;
padding-right: 13px;
position: relative;
font:10pt Arial,Tahoma,Verdana;
color:#284562;
vertical-align:middle;
}

/* webkit browsers like safari and chrome on the homepage (quirks mode) needs a line-height value for the anchor tags */
/* this value has to be in pixels */
.pthnavsafariquirks a {
display:block;
line-height:19px;
}

/* webkit browsers like safari and chrome, need this for dashboard pages */
div.pthnavsafariquirks #pthnavbc li a {
line-height:20px;
top:-1px;
}

.pthnav a, #pthnavbc a {
cursor:pointer;
}

li div.pthnavflyout, #pthnavbc li div.pthnavflyout {
    background: none;
    border: none;
    margin: 2px 0 0 2px;
    position: absolute;
    width: 18em;
    z-index: 400;
}

#pthnavbc li div.pthnavflyout {
top:100%;
}

li li div.pthnavflyout, #pthnavbc li li div.pthnavflyout, div.pthnavflyoutscroll div.pthnavflyout {
top:-4px;
}

.pthnavscroll {
background:#FFFFFF none;
position:relative;
margin:0 .2em;

zoom:1;
}

.pthnavscrollup, .pthnavscrolldown {
padding:0;
position:relative;
}

li div.pthnavscrollup, #pthnavbc li div.pthnavscrollup {
width:90%;	/* leave room for the sort image */
line-height:normal;
}

li li div.pthnavscrollup, #pthnavbc li li div.pthnavscrollup {
line-height:normal;
}

.pthnavrightarrow {
margin:0;
margin-%AlignEnd:.3em;
padding: 0;
background: transparent url(%Image(PT_HNAV_RIGHT_ARROW2)) no-repeat %AlignEnd center;
position:absolute;
%AlignEnd:0;
top:0;
}

.pthnavbarfldr {
background: transparent url(%Image(PT_HNAV_CSS_BC_DOWN_ARROW)) no-repeat right 70%;
/* #background: transparent url(%Image(PT_HNAV_CSS_BC_DOWN_ARROW)) no-repeat right 60%;
#height : 22px; */
}

/* quirks mode code for the positioning of down arrows */
* html .pthnavbarfldr {
background: transparent url(%Image(PT_HNAV_CSS_BC_DOWN_ARROW)) no-repeat right 60%;
height: 19px;
}

/* abn - style class for abn portal folder in the bc */
.pthnavbarabnfldr {
background: transparent no-repeat bottom center;
height:19px;
}

/* don't delete this style class */
.pthnavfldr {
}

.pthnavfldrimg {
background: transparent url(%Image(PT_HNAV_FLDR2)) no-repeat center center;
margin:2px 0 0 0;
margin-%AlignStart:.5em;
padding: 0;
position:absolute;
%AlignStart:0;
top:0;
width:14px;
line-height:normal;
}

/* ABN Folder - used if the folder has children */
.pthnavabnfldrimg {
margin:2px 0 0 0;
margin-%AlignStart:.5em;
padding: 0;
position:absolute;
%AlignStart:0;
top:0;
width:14px;
line-height:normal;
}

.pthnavabnfldrimgicon {
background: transparent url(%Image(PS_WCS_MANAGER_ICN)) no-repeat center center;
}

/* don't delete this style class */
li li.pthnavcref {
}

.pthnavcrefimg {
background: transparent url(%Image(PT_HNAV_CREF)) no-repeat center center;
margin:2px 0 0 0;
margin-%AlignStart:.5em;
padding: 0;
position:absolute;
%AlignStart:0;
top:0;
width:13px;
line-height:normal;
display:block; /* need this to ensure it's displayed for MRU when cloning a breadcrumb cref */
}

/* ABN CRef - used for a cref or if the folder does not have children */
.pthnavabncrefimg {
margin:2px 0 0 0;
margin-%AlignStart:.5em;
padding: 0;
position:absolute;
%AlignStart:0;
top:0;
width:14px;
line-height:normal;
display:block; /* need this to ensure it's displayed for MRU when cloning a breadcrumb cref */
}

.pthnavabncrefimgicon {
background: transparent url(%Image(PS_WCS_PERSON_ICN)) no-repeat center center;
}

/* don't delete this style class */
.pthnavfav {
}

.pthnavfavimg {
background: transparent url(%Image(PT_HNAV_FAV_CREF)) no-repeat center center;
margin:0;
margin-%AlignStart:.5em;
padding: 0;
position:absolute;
%AlignStart:0;
top:0;
width:18px;
line-height:normal;
}

/* begin abn */
.pthnavmrsimg {
background: transparent url(%Image(PT_HNAV_RSR_CREF)) no-repeat center center;
margin:2px 0 0 0;
margin-%AlignStart:.5em;
padding: 0;
position:absolute;
%AlignStart:0;
top:0;
width:16px;
height:16px;
line-height:normal;
}

.pthnavmrsfldrimg {
background: transparent url(%Image(PT_HNAV_RSR_FLDR)) no-repeat center center;
margin:2px 0 0 0;
margin-%AlignStart:.5em;
padding: 0;
position:absolute;
%AlignStart:0;
top:0;
width:16px;
height:16px;
line-height:normal;
}

/* end abn */

.pthnavcrefquirks {
background-color:#F9F9F9;
/*border: 1px solid #E6E6E6;*/
    color: #ab5b1a;

cursor:pointer;
}

div.pthnavscrolldown {
width:0;
line-height: .3;
}

.pthnavscrolldownshow {
background: transparent url(%Image(PT_HNAV_DOWN_ARROW)) no-repeat center center;
cursor:pointer;
zoom:1;  /* IE needs haslayout set otherwise, you can't scroll */

line-height: normal;
}

/* need this when we flyup, but we don't scroll */
/* same as the scrolldown show, with no image */
.pthnavnoscrollbtnimg {
line-height:1.2; /* this works for FF */
}

.pthnavscrollupshow {
background: transparent url(%Image(PT_HNAV_UP_ARROW)) no-repeat center center;
cursor:pointer;
zoom:1;  /* IE needs haslayout set otherwise, you can't scroll */
line-height:normal;
}

.pthnav li li{
float: none;
margin:0;
line-height:1.2em;
}

#pthnavbc li a {
margin:0;
padding-right: 12px;
}

.pthnav li li a, #pthnavbc li li a {
margin:0;
font-size:9pt;
color:#004b91;
margin-%AlignStart:2.5em;
padding:0;
vertical-align:0;
}

/* we need this style class for IE */
li#pthnavbc, li.pthnavbarfldr {
z-index:200;
white-space:nowrap;
padding-right: 0px;
padding-left:5px;
}

/* breadcrumb (id=pthnavbc) in ltr mode*/
li.pthnavbcltr{
position:absolute;
white-space:nowrap;
display:inline;
}

/* breadcrumb (id=pthnavbc) in rtl mode */
/* This is important for Safari as it doesn't like position:fixed set here */
li.pthnavbcrtl{
white-space:nowrap;
display:inline;
position:absolute;
}

/* selected breadcrumb background color */
.pthnavbaropen {
    background-color: #DAE9F8;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
/*height:26px;*/
}
* html .pthnavbaropen {
background-color:#DAE9F8;
border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
	/*height:20px;*/
}

.pthnavbarclose {
background-color:transparent;
}

div.pthnavclose {
background: transparent url(%Image(PT_PORTAL_IC_CLOSE)) no-repeat scroll 0 50%;
height:14px;
width:14px;
margin:0;
margin-%AlignEnd:.4em;
float:%AlignEnd;
padding:0;
cursor:pointer;
position:relative;
line-height:normal;  /* needed by IE in quirks mode */
}

.pthnavclosehide {
background:none repeat scroll 0 0 transparent;
border:0 none;
float:right;
height:14px;
margin:0 -0.8em;
overflow:hidden;
text-indent:-99999em;
width:25px;
}
.pthnav li li a:hover, #pthnavbc li li a:hover
{
	color:#ab5b1a;
}
/* abn change */
/* pthnavfldr-mouse:hover is used by all browsers except IE */
li.pthnavfav:hover, li.pthnavmrs:hover, li.pthnav-mouse:hover {
    background-color: #F9F9F9;
   /* border: 1px solid #E6E6E6;*/
    color: #ab5b1a;
    cursor: pointer;
    vertical-align: middle;
}

/* <li> folder open background color */
/* add li.pthnavfldropen:hover */
.pthnavfldropen, li.pthnavfldropen:hover {
background-color:#F9FECB;  /* grey color for open flyout */
cursor:pointer;
z-index:300;
}

/* for breadcrumb font hover */
a.pthnavbcanchor:hover, #pthnavbc li.pthnavbarfldr a:hover, #pthnavbc li.pthnavbarcref a:hover,a.pthnavbcanchor:active,
a.pthnavbcanchor:focus, #pthnavbc li.pthnavbarfldr a:focus, #pthnavbc li.pthnavbarcref a:focus {
color: #333333;
}



/* hide the cref image for the breadcrumb cref */
li.pthnavbarcref div.pthnavcrefimg {
display:none;
}

.pthnavhide {
%AlignStart:-999em;
}

/* used for showing hidden folders/crefs during scrolling */
.pthnavshow {
%AlignStart:0;
}

.pthnavbarshow {
%AlignStart:0;
top:100%;
display:block;
}

.pthnavbarhide {
display:none;
z-index:auto;
}

#pthnavfavsep {
background: transparent url(%Image(PT_HNAV_CSS_FAV_SEP_NEW)) no-repeat center center;
top: 0px;
#top: 2.7px;
margin-top: 0px;
#margin-top: 0px;
height: 22px;
width:2px;
}

*html #pthnavfavsep {
background: transparent url(%Image(PT_HNAV_CSS_FAV_SEP_NEW)) no-repeat center center;
top: 0px;
margin-top: 2px;
height: 22px;
width:2px;
}


li.pthnavhiearchysep {
background: transparent url(%Image(PT_HNAV_CSS_HIEARCHY_SEP2)) no-repeat center 80%;
#background: transparent url(%Image(PT_HNAV_CSS_HIEARCHY_SEP2)) no-repeat center 100%;
}

.pthnavflyoutopen {
%AlignStart:60%;
}

.pthnavflyoutclose {
%AlignStart:-999em;
}

* html span.pthnavtitle {
font-weight:bold;
font-size:9pt;
margin:0;
color:#666666;
margin-%AlignStart:.7em;
font-family:Arial,Tahoma;
}
span.pthnavtitle {
font-weight:bold;
font-size:9pt;
color:#666666;
margin:0;
margin-%AlignStart:.7em;
font-family:Arial,Tahoma;
}

#pthnavmrufavsep {
/* IE7 quirks mode and strict mode */
display:none;
}

#pthnavsrch {
margin:0 .2em;
}

/* shadow effect div */
.pthnavshadow {
    background: none repeat scroll 0 0 #FFFFFF;
    left: 3.5px;
    position: relative;
	border:1px solid #c9ced5;
	box-shadow: 0 3px 3px #999999;
    top: -3px;
}
* html .pthnavshadow {
    background: none repeat scroll 0 0 #FFFFFF;
    left: 3.5px;
    position: relative;
	border:1px solid #c9ced5;
	box-shadow: 0 3px 3px #999999;
    top: -3px;
}
li li div.pthnavscrollup, #pthnavbc li li div.pthnavscrollup {
    line-height: normal;
}

div.pthnavsort {
height:12px;
width:9px;
margin:0;
margin-%AlignEnd:.4em;
float:%AlignEnd;
padding:0;
cursor:pointer;
position:relative;
line-height:normal;  /* needed by IE in quirks mode */
}

/* unsorted */
.pthnavsortnone {
background: transparent url(%Image(PT_HNAV_SRTNONE)) no-repeat scroll 0 50%;
}

/* ascending sort */
.pthnavsortasc {
background: transparent url(%Image(PT_HNAV_SRTUP_SEL)) no-repeat scroll 0 50%;
}

/* descending sort */
.pthnavsortdes {
background: transparent url(%Image(PT_HNAV_SRTDN_SEL)) no-repeat scroll 0 50%;
}


/* new for scrolling */
div.pthnavscroll ul {
width:100%;
top:0;
}

li div.pthnavflyoutscroll {
display:none;
position:absolute;
z-index:400;
margin:0;
padding:0;
border: 0 none;
width:18em;
}

/* this is the scroll flyout ul */
/* need this so the right arrow has the correct margin */
/* this is noticeable when the flyout horizontal direction is changed */
ul.pthnavscrollul {
width:17.6em;
}

/* we need this for FireFox, otherwise, it's easy to notice the scroll flyout
   replacement. this background color has to be the same as the pthnavflr hover */
.pthnavfakeli {
background-color:#D4DBD9;
}

/* spinning load image to indicate an ajax request is being done to get the parent folder contents */
.pthnavloading {
background: transparent url(%Image(PT_NAV2_LOADING)) no-repeat %AlignStart 0;
z-index:501;
margin-%AlignStart:-1px;
}

div#pthnavblock {
display:none;
position:absolute;
cursor:wait;
border:0 none;
margin:0;
padding:0;
top:0;
%AlignStart:0;
z-index:500;
opacity:.01;
background-color: #FFFFFF;
filter: alpha(opacity=1);
}

/* search edit box label */
div#pthnavsrchlbl {
font-family: Arial,Helvetica;
font-size: 11pt;
font-weight: 600;
color: #666666;
padding-top: 3px;
padding-bottom: 1px;
padding-%AlignStart: 2px;
zoom:1; /* IE needs this for rtl mode */
}

/* search form */
#pthnavsrchform {
margin:0;
padding:0;
white-space: nowrap;
}

/* Go Image >> */
#pthnavgoImg {
  
    margin-left: -4px;
    padding: 0px;
    position: relative;
    vertical-align: bottom;
}
*html #pthnavgoImg {
   
    margin-left: -8px;
    padding-right:5px;
    position: relative;
    vertical-align: middle;
}
#ptnav2goImg {
   
    margin-bottom: 4px;
    margin-left: -3px;
    padding: 0px;
    position: relative;
    vertical-align: middle;
}
#ptnav2srchinput,#pthnavsrchinput
{
    border: 1px solid #BBBBBB;
	height: 18px;
}
#ptnav2go, #ptnavgo {
    border: none;
}

*html #ptnav2goImg {
  
    margin-bottom: 4px;
    margin-left: -6px;
    padding: 0px;
    position: relative;
    vertical-align: middle;
}
*html #ptnav2srchinput, *html #pthnavsrchinput {
    border: 1px solid #BBBBBB;
	height:18px;
}

/* begin new nav demo pagelet styles */
#pthnavdemopglt {
margin: 5px;
font:Arial,Helvetica,sans-serif;
}

.pthnavdemotext {
font-weight:bold;
text-align:center;
}

#pthnavdemopglt ul {
list-style:none;
padding:0;
margin:0 5px;
zoom:1; /* need to force hasLayout for IE since were in quirks mode on the homepage */
}

#pthnavdemopglt li {
margin: 0 0 30px 0;
height:86px;
}

#pthnavdemopglt li p {
float:%AlignStart;
margin:0;
margin-%AlignEnd:5px;
width:50%;
}

.pthnavdemomru {
background: url(%Image(PT_HNAV_DEMO_MRU)) no-repeat %AlignEnd 0;
}
.pthnavdemobc {
background: url(%Image(PT_HNAV_DEMO_BC)) no-repeat %AlignEnd 0;
}
.pthnavdemoas {
background: url(%Image(PT_HNAV_DEMO_AS)) no-repeat %AlignEnd 0;
}

/* end new nav demo pagelet styles */


/* BEGIN quirks mode stuff */

* html #pthnavflycontent, /* if we don't trigger hasLayout, the sort image won't be displayed in quirks mode */
* html .pthnavscroll,     /* if we don't trigger hasLayout, the folder/cref <li> will move to the right in quirks mode */
* html .pthnav li li,     /* folders disappear randomly on hovering */
* html #pthnavbc li li
{
zoom:1;
}

/* END quirks mode stuff */
/* end hover nav */

/* For breadcrumb scrolling  */
div#pthbcScroll {
position:relative;
height:1.2em;
%AlignStart: 1.3em;
overflow:hidden;
}

div.pthbcScroll, ul#pthbcUlScroll {
position:absolute;
}

.pthbcprevshow {
cursor:pointer;
zoom:1;
background: transparent url(%Image(PT_HNAV_PREV_ARROW)) no-repeat top center;
display:block;
position:absolute;
%AlignStart:0;
width:20px;
top:0px;
-webkit-user-select: none;   
-webkit-touch-callout: none;

}

.pthbcnextshow {
cursor:pointer;
zoom:1;
background: transparent url(%Image(PT_HNAV_NEXT_ARROW)) no-repeat top center;
display:block;
position:absolute;
width:20px;
top:0px;
-webkit-user-select: none;   
-webkit-touch-callout: none;

}

.pthbcprev, .pthbcnext {
padding:0;
position:absolute;
display:none;
width:0px;
}

#pthbcEndWall{
position: relative;
margin-%AlignStart:-13px;
}

#pthbcStartWall{
position: relative;
margin-%AlignStart:18px;

}

/* abn */
#ptabnclonebc {
display:none;
}

/* For Accessibility to hide the "flyout folder" text */
.pthnavHideTxt {
text-indent:-99999em;
overflow:hidden;
border:0;
background:transparent;
width:1px;
height:1px;
}

/* For Accessibility to hide the text on top */
.pthnavHideTop{
top:-9999px !important;
font-size: 2px !important;
}

/* For Accessibility to hide the sort description text */
.pthnavHideSortTxt {
text-indent:-99999em;
overflow:hidden;
border:0;
background:transparent;
width:25px;
margin:0;
float:%AlignEnd;
margin-%AlignEnd:-0.8em;
margin-%AlignStart:-0.8em;  /* req by IE quirk */
height:12px;
}

/*
* html li.pthnavfav:hover,
* html li.pthnavmrs:hover,
* html li.pthnav-mouse:hover {
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    color: #ab5b1a;
    cursor: pointer;
    vertical-align: middle;
}*/
/* Required by quirky IE to hold focus */
*html li.pthnavfldr a:active, li.pthnavfldr a:focus,
*html li.pthnavfldropen a:active, li.pthnavfldropen a:focus,
*html li.pthnavcref a:active, li.pthnavcref a:focus {
	background-color: #F9F9F9;
   /* border: 1px solid #E6E6E6;*/
    color: #ab5b1a;
    cursor: pointer;
    vertical-align: middle;
}

/* Required by quirky IE to avoid jumpy movement on click of links */
*html li.pthnavfldr a,
*html li.pthnavfldropen a,
*html li.pthnavcref a{
	vertical-align: middle\9;
}

/*Tangerine style for persistent search icon*/
.ptabnsrchpromptbc {
margin-%AlignStart:-14px;
margin-top:3px;
display:block;
}

.ptabnsrchpromptbc a {
padding-%AlignEnd:0px !important;
}

.ptabnsrchpromptbc a span {
padding-%AlignEnd:0px !important;
}
