/*
Last Updated By: Unknown
On: 06/05/2013 03:25:53
*/

/* begin homepage styles */

/* For standards mode we need to set overflow to auto and undo fix for quirks mode bug described below*/
/* (#overflow) If the homepage is in quirks modes, Need this to remove the */
/* dim, inactive, vertical scroll bar for IE in quirks mode */
/* by setting this property, homepage drag n drop won't work for column 3 */
body { 
overflow: auto; /*standards mode*/
#overflow: inherit; /*quirks mode hack*/
} 

/* pageletRefresh */
.ptpgltdim {
opacity:0.3;
filter:alpha(opacity=30);
} 

.ptoverlay {
position:absolute;
padding-top:10px;
left:0;
background:url(%Image(PT_PRE_LOADER)) no-repeat center; 
z-index:100;
width:100%;
height:100%; 
}

.ptoverlayIE{
top:20px; /* so it displays center in IE */
}

.ptoverlayshow {
display:block;
}


.ptoverlayhide {
display:none;
z-index:-1;
}

/* pagelet column */
.ptpgltdroppable {
margin:0;
padding:0;
zoom:1;   /* needed to prevent blank left nav pagelet on IE, and the user can't personalize the homepage */
}

/* pagelet, sortable and fixed position */
li.pthpli {
position:relative;
list-style-type:none;
margin:0 0 4px 0;
padding:0;
zoom:1; /* needed to prevent blank left nav pagelet on IE, and the user can't personalize the homepage */
z-index:0\0/IE8+9;/*needed only for IE8,9 so that dropdown menu come above the pagelet below*/
}

/* pagelet label */
.ptpgltlabel {
width:100%;
margin:0;				
padding:0;
display: block; 	   /* so the whole pagelet header bar, less action icons, have 'move' cursor */	
text-align: %AlignStart;
font: normal 10pt Arial, Helvetica, sans-serif;
white-space: nowrap;
}

/* drag handle for a sortable pagelet */
.ptpgltlabeldrag {
cursor:move;
}

/* Pagelet Drag and Drop, empty spot css */
.ptDropSpot {
background-color: #ffffcc;   
margin-bottom: 5px;
}

/* hidden <li> style class */
.ptaddpglt {
position:relative;
list-style-type:none;
}

.greeting { 
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
font-size: 12pt;
font-weight: bold;
}

.pthomepagetabactive { 
background-color: #FFFFFF; 
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: #000000;
font-size: 9pt;
background-image: url(%Image(PT_HOME_TAB_ACTIVE_CENTER));
border-style: none;
background-repeat:repeat-x;
}

.pthomepagetabinactive { 
font-size: 9pt;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
border: #FFFFFF none;
background-image: url(%Image(PT_HOME_TAB_INACTIVE_CENTER));
background-repeat:repeat-x;
}

.pthomepagetabline { 
float:%AlignStart;
}

.pthomepagetablinetd {
background-image: url(%Image(PT_HOME_TAB_LINE));
}

/* banner pagelet <ul> style */
.ptbannerpgltul {
margin:0;
padding:0;
}

/* banner pagelet, no header */
li.ptbannerpglt2 table.PTPAGELETHEADER, li.ptbannerpglt3 table.PTPAGELETHEADER {
display:none;
}

/* banner pagelet with no header, but borders around the pagelet body */
li.ptbannerpglt2 table.PTPAGELET, li.ptbannerpglt3 table.PTPAGELET {
border:0 none transparent;
}

/* banner pagelet with no header, and no borders */
li.ptbannerpglt3 td.PTPAGELETBODY {
border:0 none transparent;
}

.pttabhelplink {
margin:0;
margin-%AlignStart:40px;
}

table.pthomepagetabline td.pthp2perslinks, table.pthomepagetabline td.ptdboardlinks {
text-align:%AlignEnd;
}

table.ptperslinktbl {
border-collapse:collapse;
text-align:%AlignEnd;
width:100%;
float:%AlignEnd;
}

span.ptdboardtitle {
text-decoration:none;
margin:8px 0 0 0;
margin-%AlignStart:2px;
border:0 none;
float:%AlignStart;
white-space:nowrap;
width:auto;
}

td.pthp2perslinks {
height:20px;
vertical-align:middle;
border:0 none;
padding:0;
margin:0;
}

td.ptdboardlinks {
height:auto;
line-height:1.5; /* IE needs this */
}

td.ptdboardlinks a, td.ptdboardlinks span {
vertical-align:-8px;
}

/* pagelet header image div */
div.ptpglthdrimgdiv {
float:%AlignStart;
padding:0;
margin:0;
margin-%AlignEnd:5px;
}

/* pagelet header image */
div.ptpglthdrimgdiv img {
border:0 none;
padding:0;
margin:0;
}

* html div.ptoverlayshow {
display:block;
background-image:url(%Image(PT_PRE_LOADER));
}

* html div.ptoverlayhide {
display:inline;
background-image:none;
}

/* home page pagelet gear icon styles*/
.ptPgltcontrolsdropdown {
background:transparent url(%Image(PTAL_PGLT_DROPDOWN_BCGROUND)) repeat-x scroll center bottom;
padding: 0;
border-left:1px solid #D4D4D4;
border-right:1px solid #D4D4D4;
border-top:1px solid #D4D4D4;
border-bottom:1px solid #D4D4D4;
margin-top:-1px;
margin-%AlignStart:-1px;
margin-bottom:-1px;
position:relative;
z-index:100;
margin-%AlignEnd:10px;
cursor: pointer;
opacity:0.6;
}

.ptPgltcontrolsdropdown:hover {
background:none;
background-color:white;
opacity:1;
}

.ptPgltcontrolsdropdownclicked  {
background-color:white;
border-left:1px solid #D4D4D4;
border-right:1px solid #D4D4D4;
border-top:1px solid #D4D4D4;
margin-top:-1px;
margin-%AlignStart:-1px;
position:relative;
z-index:250;
margin-%AlignEnd:10px;
cursor: pointer;
}

.ptPgltcontrolsdropdownclickedTopBorder  {
background-color:white;
border-left:1px solid #D4D4D4;
border-right:1px solid #D4D4D4;
border-top:1px solid #D4D4D4;
margin-top:-1px;
margin-%AlignStart:-1px;
position:relative;
z-index:250;
margin-%AlignEnd:10px;
cursor: pointer;
}

.ptPgltcontrolsdropdownclickedBottomBorder  {
background-color:white;
border-left:1px solid #D4D4D4;
border-right:1px solid #D4D4D4;
border-bottom:1px solid #D4D4D4;
margin-bottom:-1px;
margin-%AlignStart:-1px;
position:relative;
z-index:250;
margin-%AlignEnd:10px;
cursor: pointer;
border-top:none;
}

.ptPgltControls  {	
margin: 0;
padding: 0;
cursor:pointer;
}

.ptPgltControls li  {	
margin: 0;
padding: 0;
list-style: none;
float: left;
}

.ptPgltControls li a  {	
display: block;
margin: 0 1px 0 0;
}

.ptPgltControls li a:hover  {
}

.ptPgltcontrolshadowbottom div  {
box-shadow: -2px -1px 2px #BDBDBD;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=-45, Color='#BDBDBD');
}

.ptPgltcontrolshadowabove div  {
box-shadow: 2px 3px 2px #BDBDBD;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#BDBDBD')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#BDBDBD');
}

.ptPgltControls div  {
position: absolute;
visibility: hidden;
margin: 0;
padding: 10px 0;
background: white;
border: 1px solid #D4D4D4;
left:0;
}

.ptPgltControls div a  {
position: relative;
display: block;
margin: 1px;
padding-top:6px;
padding-bottom:6px;
padding-%AlignStart:25px;
padding-%AlignEnd:40px;
color:#555555;
font-size:9pt;
font-weight:normal;
font-style:normal;
font-family:Arial,sans-serif;
width: auto;
white-space: nowrap;
text-align: %AlignStart;
text-decoration: none;
background: white;
}

.ptPgltControls div a:hover  {	
background : #EAEAEA;
color: black;
text-decoration: none;
}

.hpcontrols {
 background:transparent url(%Image(PTAL_PGLT_DROPDOWN)) repeat-no scroll center bottom;
}

/* end homepage styles */


/* form style used by PIA generated forms inside PIA,
modal windows, and in pagelets */
.PSForm {
margin:0; 
}

/* Processing icon in the Homepage when loading new page */
.ptWaitEmpty {
display:none;position:absolute;%AlignEnd:0;
z-index:1000;
}


*html a.pgltExpand {
    width: 100%;
}
