/*
Last Updated By: Unknown
On: 06/05/2013 03:25:53
*/

/* Mouse-over popup images Begin */
.MOBGImage {
	background-image: none;
	background-color:#FFFFFF;
}
.MOBGImageLeft {
	background-color:#FFFFFF;
	background-image: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #82A7BD;
}
.MOBGImageTop {
	background-color:#FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #82A7BD;
}
.MOBGImageRightAlpha {
	background-image: url(%Image(PT_RIGHT_BG_ALPHA));
	background-repeat: repeat-y;
	background-position: center bottom;
	border-right-width: 0px;
	border-right-style: none;
}
.MOBGImagebottomAlpha {
	background-image: url(%Image(PT_BOTTOM_BG_ALPHA));
	background-repeat: repeat-x;
}
.MOBGImageRight {
	background-image: url(%Image(PT_RIGHT_BG_BINARY));
	background-repeat: repeat-y;
	background-position: center bottom;
	border-right-width: 0px;
	border-right-style: none;
}
.MOBGImagebottom {
	background-image: url(%Image(PT_BOTTOM_BG_BINARY));
	background-repeat: repeat-x;
}
/* Mouse-over popup images End */

/* NEW MODAL */
.PSMODALCLOSE {
     margin-top: 6px;
}

/*END NEW MODAL

/* Title Bar images */
/**/
#popupTitleBarLeftImage, #popupTitleBarLeftImageModal{background: url(%Image(PTPOPUP_TITLEBARLEFT)) top left no-repeat;}
#popupTitleBarMiddle, #popupTitleBarMiddleModal{background: url(%Image(PTPOPUP_TITLEBARCENTER)) top right repeat; padding-right:2px;}
#popupTitleBarRightImage, #popupTitleBarRightImageModal{background: url(%Image(PTPOPUP_TITLEBARRIGHT)) top right no-repeat;}
#popupContent{border-left: #A3BED8 2px solid; border-right:  #A3BED8 2px solid;}

#HelppopupTitleBarLeftImage{background-image:none; }
#HelppopupTitleBarMiddle{background-image:none; padding-right:2px;}
#HelppopupTitleBarRightImage{background-image:none;}

/* modal window bottom border */
#popupInner{border-style:none; border-bottom:  #A3BED8 2px solid;}

/* modal window move and resize guide */
.popupDragFrame{display:none;top:0;left:0;border:2px dotted;position:absolute;background-color:transparent;background-image:url(%Image(PT_PIXEL));background-repeat:repeat;} 
.popupText{font-family:Arial,sans-serif;font-size:9pt;font-weight:normal;font-style:normal;color:#515151;}

/* pop-out modal element, ie grid */
#popupContentContainerModal{border-left: #A3BED8 2px solid; border-right:  #A3BED8 2px solid;}
#popupBottomModal{border-left: #A3BED8 2px solid; border-right:  #A3BED8 2px solid; border-bottom:  #A3BED8 2px solid;}
#popupInnerModal{border-style:none;}

/* TypeAhead */
span.spanHighElement{background:#DFE7EC;color:white;cursor:pointer;font-family:Arial,sans-serif;font-size:9pt;font-weight:normal;font-style:normal;}
.spanHighElement{background:#DFE7EC;color:white;cursor:pointer;font-family:Arial,sans-serif;font-size:9pt;font-weight:normal;font-style:normal;}
.PSTARESULTSHDR {
    background-color: #F1F5F6;
    color: #426a92;
    font-family: Arial,sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
    margin-right: 2px;
	height:20px;
	*height:15px;
border-bottom:1px solid #e6e6e6;
	
}
p.PTPOPUP_TITLE
{
	background-color: #FFFFFF;
    color: #446590;
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
	padding-left:10px;
}
.PTPOPUP_TITLE
{
	background-color: #FFFFFF;
    color: #446590;
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
	padding-left:10px;
}
*html .PTPOPUP_TITLE
{
    background-color: #FFFFFF;
    color: #446590;
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
    padding-left:10px;
}
.PSMODALHEADER, .PTPOPUP_HEADER
{background-image: none;
background-color:#ffffff;
border-bottom:1px solid #c9ced5;
border-top:1px solid #666666 !important;
border-left:1px solid #666666 !important;
border-right:1px solid #666666 !important;

height:28px;
width: auto !important;

}
*html .PSMODALHEADER
{background-image: none;
background-color:#ffffff;
border-bottom:1px solid #e6e6e6;
border-top:1px solid #666666;
border-left:1px solid #666666;
border-right:1px solid #666666;

height:28px;
width: auto !important;

}

.ptpopuptitlebar {
background-image: none;
}

#ptpopupcontainer {
    border: 1px solid #999999;
	box-shadow: 0 2px 4px 2px #999999;
	padding: 5px;
}
div.PSPUSHBUTTON {
height:auto;
}
.PSSRCHRESULTSHYPERLINK, .PSSRCHRESULTSHYPERLINK:link {
color: #426a92;
text-decoration: none;
font-size:9pt;
}
.PSSRCHRESULTSHYPERLINK:hover {
color: #ab5b1a;
text-decoration: underline;
line-height:120%;
}

.PSSRCHRESULTSHDRTXT:hover, .PSSRCHRESULTSHDR a:hover
{
color: #ab5b1a;
text-decoration: underline;
}
.PSSRCHRESULTSHDRTXT, .PSSRCHRESULTSHDR:link{
font-weight:bold;
font-size:8pt;
text-decoration: none;
}

#ptpopupshadow {
%AlignStart:0px;
top:0px;
}
.PSMODALRESIZE {
   
    box-shadow: 0 0 0 #333333;
}
#ptpopupmask
{
background-color: #5C7995;
opacity: 0.35;
}
.PSMODALCONTENT {
    border-left: none;
	border-top:none;
	border-bottom:none;
	padding: 0px;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-top:none;
	border-bottom:none;	
	box-shadow: 0 0 5px #000000;
}
*html .PSMODALCONTENT {
border-left: none;
border-top:none;
border-bottom:none;
padding: 0px;
border-left:1px solid #666666;
border-right:1px solid #666666;
border-top:none;
border-bottom:none;	
box-shadow: 0 0px 5px #000000;
}
.PSMODALBOTTOM
{
border:none;
box-shadow: 0 0 5px #000000;
height:14px;
display:none;
border-left: 1px solid #666666; 
border-right:  1px solid #666666;
border-bottom: 1px solid #666666;
background-color:#ffffff;
}
*html .PSMODALBOTTOM
{
border:none;
box-shadow: 0 0 5px #000000;
height:14px;
display:none;
border-left: 1px solid #666666; 
border-right:  1px solid #666666;
border-bottom: 1px solid #666666;
background-color:#ffffff;
}
#HelppopupTitleBar, #popupTitleBar, #popupTitleBarModal {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
}
#pt_modalMask {
    background-color: #5C7995;
   opacity: 0.35;
	z-index:212;
}
#HelpdivpopupFrame
{
	border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    background-color:#ffffff;
}
#popupTitleBarLeftImage, #popupTitleBarLeftImageModal {
    background-image: none;
}
.popupShadow {
    border:none;
    left: 0;
    top: 0;
}

#ptpopupclose
{
background-image:url(%IMAGE(PT_PORTAL_IC_CLOSE));
}

#popupTitleBarRightImage, #popupTitleBarRightImageModal {
    background: none repeat scroll 0 0 transparent;
}
.PSMODALTITLE {
  padding-top: 6px;
}
*html .PSMODALTITLE {
  padding-top: 6px;
}
.PSMODALTABLE{border:none; 
box-shadow: 0 0 5px #000000;
padding:0px;
position:absolute;
background-color:#ffffff;
z-index:250}
