/*
Last Updated By: Unknown
On: 06/05/2013 03:25:53
*/

.EOPP_SCSECTIONFOLDERLINK:hover
{
	color:#ab5b1a;
	text-decoration:underline;
}

.EOPP_SCCHILDCONTENTLINK:hover, .EOPP_SCCHILDFOLDERLINK:hover, .EOPP_SCMORELINK:hover,.EOPP_SCSECTIONCONTENTLINK:hover, .EOPP_SCSECTIONFOLDERLINK:hover
{
	color:#ab5b1a;
	text-decoration:underline;
}

.EOPP_SCBREADCRUMBSECTION:hover {
 /*	text-decoration:underline;   */
    color: #ab5b1a;
}
.PSGRIDFIRSTCOLUMN
{
	border-left:1px solid #e6e6e6;
}
/*.PSLEVEL1GRIDNBO .PSGRIDFIRSTCOLUMN, .PSLEVEL2GRIDNBO .PSGRIDFIRSTCOLUMN, .PSLEVEL3GRIDNBO .PSGRIDFIRSTCOLUMN {
    border-left: medium none;
}
.PABACKGROUNDINVISIBLENBO .PSGRIDFIRSTCOLUMN { border-left: medium none;}*/
.PAADDITIONALINSTRUCTIONSDISABLED
{
color:#515151;
}
.PSCOMPONENTHYPERLINK
{
border-style: none;
    color: #004b91;
    font-family: Arial,sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
	text-decoration:none;
}
.PSHYPERLINKNOULDISABLED, .PSHYPERLINKNOULBOLDDISABLED, .PSSRCHRESULTSEVENROWDISABLED, .PSSRCHRESULTSODDROWDISABLED
{
color: #999999;
}

.PSLEVEL1GRIDNAVIGATIONBAR, .PSLEVEL2GRIDNAVIGATIONBAR, .PSLEVEL3GRIDNAVIGATIONBAR {
    background-color: #FFFFFF;
    border-top: 1px solid #E6E6E6;

}
.PSLEVEL1SCROLLAREAFOOTER, .PSLEVEL2SCROLLAREAFOOTER, .PSLEVEL3SCROLLAREAFOOTER
{
 background-color: #FFFFFF;
}
.PSHEADERHYPERLINK, .PSHEADERHYPERLINK:link, .PSHEADERHYPERLINK:active, .PSHEADERHYPERLINK:visited, .PSLEVEL1GRIDLABEL:link, .PSLEVEL1GRIDLABEL:visited, .PSLEVEL1GRIDNAVIGATIONBAR:link, .PSLEVEL1GRIDNAVIGATIONBAR:active, .PSLEVEL1SCROLLAREAFOOTER:link, .PSLEVEL1SCROLLAREAFOOTER:active, .PSLEVEL1SCROLLAREAHEADER:link, .PSLEVEL2GRIDLABEL:link, .PSLEVEL2GRIDLABEL:visited, .PSLEVEL2GRIDNAVIGATIONBAR:link, .PSLEVEL2GRIDNAVIGATIONBAR:active, .PSLEVEL2SCROLLAREAFOOTER:link, .PSLEVEL2SCROLLAREAFOOTER:active, .PSLEVEL2SCROLLAREAHEADER:link, .PSLEVEL2SCROLLAREAHEADER:active, .PSLEVEL3GRIDLABEL:link, .PSLEVEL3GRIDLABEL:active, .PSLEVEL3GRIDLABEL:visited, .PSLEVEL3GRIDNAVIGATIONBAR:link, .PSLEVEL3GRIDNAVIGATIONBAR:active, .PSLEVEL3SCROLLAREAFOOTER:link, .PSLEVEL3SCROLLAREAFOOTER:active, .PSLEVEL3SCROLLAREAHEADER:link, .PSLEVEL3SCROLLAREAHEADER:active, .PT_MCFTABLEHEADER1:link, .PT_MCFTABLEHEADER1:active, .PT_MCFTABLEHEADER1:visited
{	color: #004b91;
    font-family: Arial,sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    text-decoration: none;
}

.PSHEADERHYPERLINK a:hover,.PSLEVEL1GRIDLABEL a:hover,.PSLEVEL2GRIDLABEL a:hover,.PSLEVEL2GRIDLABEL a:hover,.PSLEVEL1SCROLLAREAHEADER a:hover,.PSLEVEL2SCROLLAREAHEADER a:hover,.PSLEVEL3SCROLLAREAHEADER a:hover, .PAGRIDHEADER a:hover
{	
    text-decoration: underline;
	color:#ab5b1a;
}


.PSLEVEL1SCROLLAREABODYNBO, .PSLEVEL2SCROLLAREABODYNBO, .PSLEVEL3SCROLLAREABODYNBO {
    border-style: none;
    margin: 1px;
}

.PSQRYTITLE
{
	color: #416291;
    font-family: Arial,sans-serif;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
}

.PSLEVEL1GRIDCOLUMNHDR:link, .PSLEVEL1GRIDCOLUMNHDR:visited, .PSLEVEL1GRIDCOLUMNHDRDISABLED, .PSLEVEL3GRIDCOLUMNHDR:link, .PSLEVEL3GRIDCOLUMNHDR:visited, .PSLEVEL3GRIDCOLUMNHDRDISABLED,.PSLEVEL1GRIDCOLUMNHDR, .PSLEVEL2GRIDCOLUMNHDR, .PSLEVEL3GRIDCOLUMNHDR, .PSLEVEL1GRIDCOLUMNHDRTXT, .PSLEVEL2GRIDCOLUMNHDRTXT, .PSLEVEL3GRIDCOLUMNHDRTXT {
background-color: #f9f9f9;
color: #426a92;
    font-family: Arial,sans-serif;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
	text-decoration:none;
}

.PSLEVEL1SSGRIDCOLUMNHDR:link, .PSLEVEL1SSGRIDCOLUMNHDR:visited, .PSLEVEL1SSGRIDCOLUMNHDRDISABLED
{
    background-color: transparent;
    border-style: none;
    color: #426a92;
    font-family: Arial,sans-serif;
    border-style: none;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
	text-decoration:none;
}
.PSDROPDOWNLISTDISABLED
{
color: #515151;
    font-family: Arial,sans-serif;

}

.PSLEVEL1GRIDCOLUMNHDR:link, .PSLEVEL1GRIDCOLUMNHDR:visited,
.PSLEVEL1GRIDCOLUMNHDRDISABLED, .PT_MCFTABLEHEADER1:link, .PT_MCFTABLEHEADER1:active, .PT_MCFTABLEHEADER1:visited:link, .PSLEVEL3GRIDCOLUMNHDR:visited,
.PSLEVEL3GRIDCOLUMNHDRDISABLED, .PSLEVEL1GRIDCOLUMNHDR:link, .PSLEVEL1GRIDCOLUMNHDR:visited, .PSLEVEL1GRIDCOLUMNHDRDISABLED, .PSLEVEL3GRIDCOLUMNHDR:link,
.PSLEVEL3GRIDCOLUMNHDR:visited, .PSLEVEL3GRIDCOLUMNHDRDISABLED, .PSLEVEL2GRIDCOLUMNHDR:link, .PSLEVEL2GRIDCOLUMNHDR:visited,
.PSLEVEL2GRIDCOLUMNHDRDISABLED, .PAGRIDHEADERTXT, .PAGRIDHEADER:link, .PAGRIDHEADER:visited, .PAGRIDHEADERDISABLED, .PAGRIDHEADERTXT:link, .PAGRIDHEADERTXT:visited
{
    background-color: #f9f9f9;
    border-style: none;
    color: #426a92;
    font-family: Arial,sans-serif;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
	text-decoration:none;
}
.PSLEVEL1GRIDLABEL:link,.PSHEADERHYPERLINK, .PSHEADERHYPERLINK:link, .PSHEADERHYPERLINK:active, .PSHEADERHYPERLINK:visited, 
 .PSLEVEL1GRIDLABEL:visited, .PSLEVEL1GRIDNAVIGATIONBAR:link, .PSLEVEL1GRIDNAVIGATIONBAR:active, .PSLEVEL1SCROLLAREAFOOTER:link,
 .PSLEVEL1SCROLLAREAFOOTER:active, .PSLEVEL1SCROLLAREAHEADER:link, .PSLEVEL2GRIDLABEL:link,
 .PSLEVEL2GRIDLABEL:visited, .PSLEVEL2GRIDNAVIGATIONBAR:link, .PSLEVEL2GRIDNAVIGATIONBAR:active, .PSLEVEL2SCROLLAREAFOOTER:link,
 .PSLEVEL2SCROLLAREAFOOTER:active, .PSLEVEL2SCROLLAREAHEADER:link, .PSLEVEL2SCROLLAREAHEADER:active, .PSLEVEL3GRIDLABEL:link,
 .PSLEVEL3GRIDLABEL:active, .PSLEVEL3GRIDLABEL:visited, .PSLEVEL3GRIDNAVIGATIONBAR:link, .PSLEVEL3GRIDNAVIGATIONBAR:active, 
.PSLEVEL3SCROLLAREAFOOTER:link, .PSLEVEL3SCROLLAREAFOOTER:active, .PSLEVEL3SCROLLAREAHEADER:link, .PSLEVEL3SCROLLAREAHEADER:active
{
	background-color: transparent;
    border-style: none;
    color: #004b91;
    font-family: Arial,sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
	text-decoration:none;
}
.PSLEVEL1GRIDLABEL, .PSLEVEL2GRIDLABEL, .PSLEVEL3GRIDLABEL
{
	background-color: #F1F5F6;
}
 .PAGRIDHEADER:link, .PAGRIDHEADER:visited, .PAGRIDHEADERTXT:link, .PAGRIDHEADERTXT:visited {
    border-style: none;
    color: #004b91;
    font-family: Arial,sans-serif;
    font-size: 8pt;    
    font-weight: bold;
    text-decoration: none;
}
.PAGRIDHEADERDISABLED
{
	border-style: none;
    color: #999999;
    font-family: Arial,sans-serif;
    font-size: 9pt;    
    font-weight: normal;
    text-decoration: none;
}

.PSHYPERLINK, .PSHYPERLINK:link, .PSHYPERLINK:visited, .PSHYPERLINKNOUL:link, .PSHYPERLINKNOUL:visited, .PSSRCHRESULTSEVENROW:link, .PSSRCHRESULTSEVENROW:visited, .PSSRCHRESULTSODDROW:link, .PSSRCHRESULTSODDROW:visited {
    border-style: none;
    color: #004b91;
    font-family: Arial,sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
	text-decoration:none;
}
.PSLEVEL1GRIDLABELTP a:hover
{
text-decoration:underline;
color:#ab5b1a;
}

.PSHEADERHYPERLINKD, .PSHEADERHYPERLINKDISABLED, .PSHEADERHYPERLINKTPDISABLED, .PSHEADERHYPERLINKTPNOULDISABLED, .PSLEVEL1GRIDLABELDISABLED, .PSLEVEL1GRIDLABELTPDISABLED, .PSLEVEL1GRIDNAVIGATIONBARDISABLED, .PSLEVEL1SCROLLAREAFOOTERDISABLED, .PSLEVEL1SCROLLAREAHEADERDISABLED, .PSLEVEL2GRIDLABELDISABLED, .PSLEVEL2GRIDLABELTPDISABLED, .PSLEVEL2GRIDNAVIGATIONBARDISABLED, .PSLEVEL2SCROLLAREAFOOTERDISABLED, .PSLEVEL2SCROLLAREAHEADERDISABLED, .PSLEVEL3GRIDLABELDISABLED, .PSLEVEL3GRIDLABELTPDISABLED, .PSLEVEL3GRIDNAVIGATIONBARDISABLED, .PSLEVEL3SCROLLAREAFOOTERDISABLED, .PSLEVEL3SCROLLAREAHEADERDISABLED, .PT_MCFTABLEHEADER1DISABLED
{
color: #515151;
background-color: transparent;
font-size:9pt;
}
.PSHYPERLINK a:hover
{
text-decoration:underline;
color:#ab5b1a;
}
.PSSRCHRESULTSODDROW:hover, .PSSRCHRESULTSEVENROW:hover
{
	text-decoration:none;
	color:#515151;
}

.PSHYPERLINKNOUL:hover, .PSSRCHRESULTSEVENROW a:hover, .PSSRCHRESULTSODDROW a:hover, .PAGRIDHEADER a:hover,
.PSLEVEL1GRIDCOLUMNHDR a:hover, .PSLEVEL2GRIDCOLUMNHDR a:hover, .PSLEVEL3GRIDCOLUMNHDR a:hover, .PSLEVEL1GRIDCOLUMNHDRTXT a:hover, .PSLEVEL2GRIDCOLUMNHDRTXT a:hover,
 .PSLEVEL3GRIDCOLUMNHDRTXT a:hover
{
text-decoration:underline;
color:#ab5b1a;
}
.PSHYPERLINK:hover
{
text-decoration:underline;
color:#ab5b1a;
}
.PSSRCHRESULTSEVENROW a:hover, .PSSRCHRESULTSODDROW a:hover
{
	color: #ab5b1a;
    font-family: Arial,Helvetica;
    font-size: 9pt;
    line-height: 120%;
    text-decoration: underline;
}
.PSHYPERLINKHOVER, .PSHYPERLINKNOUL:hover, .PSHYPERLINKNOULBOLD:hover, .PSNAVPARENTLINK:hover, .PTNAVLINK:hover {
    color: #ab5b1a;
    font-family: Arial,Helvetica;
    font-size: 9pt;
    line-height: 100%;
    text-decoration: underline;
}
.PSSRCHRESULTSEVENROW:link, .PSSRCHRESULTSEVENROW:visited, .PSSRCHRESULTSODDROW:link, .PSSRCHRESULTSODDROW:visited
{
	line-height: 120%;
}

.PSLEVEL1GRIDLABEL , .PSLEVEL2GRIDLABEL, .PSLEVEL3GRIDLABEL {
	*padding:1px;
	
}

.PORTLET-MSG-ALERT, .PORTLET-MSG-SUCCESS, .PT_MCFADDITIONALINSTRUCTIONS
{
color:#515151;
}

.pthomepagetabactive
{
	color: #333333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
	background-image: url(%IMAGE(PT_HOME_TAB_ACTIVE_CENTER_CSS));
    border-style: none;
    font-size: 10pt;
    font-weight: normal;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:7px;
	background-repeat: repeat-x;

}
.PSXLATTABLE
{
	border-left:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
}
.PSXLATTITLE
{
font-family:Arial;
font-size:9pt;
}
.pthomepagetabinactive {
    background-image: url(%IMAGE(PT_HOME_TAB_INACTIVE_CENTERCSS));
    border: none;
    color: #333333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10pt;
	font-weight: normal;
	padding-bottom:7px;
	background-repeat: repeat-x;

}

.pthomepagetablinetd {
background-image:	url(%IMAGE(PT_HOME_TAB_LINE_CSS));
}

.HOMETABACTIVE
{
	color:#333333;
	text-decoration:none;
}
.HOMETABACTIVE:hover
{
	color: #e47911;
	text-decoration:none;
}
.SMALL{
font-size:9pt;
font-family: Arial,Verdana,Helvetica,sans-serif;
text-decoration: none;
}
.small a{
color: #004B91;
font-size:9pt;
font-family: Arial,Verdana,Helvetica,sans-serif;
text-decoration: none;
}
.small{
color: #515151;
font-size:9pt;
font-family: Arial,Verdana,Helvetica,sans-serif;
text-decoration: none;
}
.small a:hover
{
	color: #ab5b1a;
	text-decoration: underline;
}

/*
.PSLEVEL1GRIDCOLUMNHDR, .PSLEVEL2GRIDCOLUMNHDR, .PSLEVEL3GRIDCOLUMNHDR,.PSLEVEL1GRIDEVENROW, .PSLEVEL2GRIDEVENROW, .PSLEVEL3GRIDEVENROW,.PSLEVEL1GRIDODDROW, .PSLEVEL2GRIDODDROW, .PSLEVEL3GRIDODDROW {
border-left: 0px solid #e6e6e6;
}*/
.PSBOTTOMLINE {
    vertical-align: bottom;
	margin-left: -2px;
}
.PAADDITIONALINSTRUCTHOVER, .PAADDITIONALINSTRUCTIONS:hover {
    color: #515151;
    font-family: Arial;
    font-size: 8pt;
    text-decoration: none;
}
.PSGROUPBOXWBO .PSGROUPBOXLABEL {
border-top: none;

}
/* hiding label fields from sighted users while in accessibility mode */
.psaccesshidden { 
	position:absolute;
	%AlignStart:0;
	color:#426a92;
	top:-999px;
	width:1px;
	height:1px;
	overflow:hidden;
}
