/*
Last Updated By: Unknown
On: 06/05/2013 03:25:53
*/

BODY{MARGIN-LEFT:2PX; MARGIN-TOP:0PX;}
.PSPUSHBUTTONTBNEXTTAB,.PSPUSHBUTTONTBNEXTINLIST,.PSPUSHBUTTONTBNEXTINWORKLIST,.PSPUSHBUTTONTBPREVINLIST, .PSPUSHBUTTONTBPREVINWORKLIST,.PSPUSHBUTTONTBPREVTAB, .PSPUSHBUTTONTBUPDATEMODE,.PSPUSHBUTTONTBABORT, .PSPUSHBUTTONTBADD, .PSPUSHBUTTONTBADDMODE, .PSPUSHBUTTONTBAPPLY,
.PSPUSHBUTTONTBCANCEL, .PSPUSHBUTTONTBCLEAR, .PSPUSHBUTTONTBCONTINUE, .PSPUSHBUTTONTBCORRECTMODE,
.PSPUSHBUTTONTBDELETE, .PSPUSHBUTTONTBIGNORE, .PSPUSHBUTTONTBLOOKUP, 
 .PSPUSHBUTTONTBNO, .PSPUSHBUTTONTBOK, 
.PSPUSHBUTTONTBPOPUP, .PSPUSHBUTTONTBPREVIEW, 
 .PSPUSHBUTTONTBREFRESH, .PSPUSHBUTTONTBREFRESH2, .PSPUSHBUTTONTBRETRY, 
.PSPUSHBUTTONTBRETURN, .PSPUSHBUTTONTBSPELLCHECK, 
.PSPUSHBUTTONTBUPDATEALLMODE, .PSPUSHBUTTONTBVIEWWORKLIST,.PSPUSHBUTTONTBYES
{display:inline-block;
background-color: transparent; border:0px solid #eaccae;border-radius:2px;
text-decoration:none; /*cursor:default;*/
height:auto;
margin-left:1px;
margin-right:1px;
vertical-align: text-top;
}

.PSPUSHBUTTONTBCANCEL, .PSPUSHBUTTONTBCLEAR {
     color: #333333;
}


.PSPUSHBUTTONTB, .PSPUSHBUTTONDISABLED{vertical-align: text-top;}
.PSPUSHBUTTON span, .PSPUSHBUTTONTB span,.PSPUSHBUTTON span:hover,
.PSPUSHBUTTONTBABORT span, .PSPUSHBUTTONTBADD span, .PSPUSHBUTTONTBADDMODE span, .PSPUSHBUTTONTBAPPLY span,
.PSPUSHBUTTONTBCANCEL span, .PSPUSHBUTTONTBCLEAR span, .PSPUSHBUTTONTBCONTINUE span, .PSPUSHBUTTONTBCORRECTMODE span,
.PSPUSHBUTTONTBDELETE span, .PSPUSHBUTTONTBIGNORE span, .PSPUSHBUTTONTBLOOKUP span, .PSPUSHBUTTONTBNEXTINLIST span,
.PSPUSHBUTTONTBNEXTINWORKLIST span, .PSPUSHBUTTONTBNEXTTAB span, .PSPUSHBUTTONTBNO span, .PSPUSHBUTTONTBOK span, 
.PSPUSHBUTTONTBPOPUP span, .PSPUSHBUTTONTBPREVIEW span, .PSPUSHBUTTONTBPREVINLIST span, .PSPUSHBUTTONTBPREVINWORKLIST span,
.PSPUSHBUTTONTBPREVTAB span, .PSPUSHBUTTONTBREFRESH span, .PSPUSHBUTTONTBREFRESH2 span, .PSPUSHBUTTONTBRETRY span, 
.PSPUSHBUTTONTBRETURN span, .PSPUSHBUTTONTBSAVE span, .PSPUSHBUTTONTBSEARCH span, .PSPUSHBUTTONTBSENDNOTIFY span,
.PSPUSHBUTTONTBSPELLCHECK span, .PSPUSHBUTTONTBUPDATEALLMODE span, .PSPUSHBUTTONTBUPDATEMODE span, 
.PSPUSHBUTTONTBVIEWWORKLIST span, .PSPUSHBUTTONTBYES span,.PSPUSHBUTTONRETURN span, .PSPUSHBUTTONDISABLED span {
display:inline-block; margin-right:0px;margin-left:0px;
background-color:#EACCAEAE;
border: 0px;
width:auto;-moz-outline:none;text-align:center; /*padding-bottom:3px;*/
border-top: 1px solid #fefbf4 !important;
}

.PSPUSHBUTTONDISABLED input {
	color: #999999;
}
input.PSPUSHBUTTONDISABLED {
    background-color: transparent;
    border: medium none;
}

.PSPUSHBUTTONTBSEARCH,.PSPUSHBUTTONTBADD,.PSPUSHBUTTONTBOK,.PSPUSHBUTTONTBCLEAR,.PSPUSHBUTTONRETURN, .PSPUSHBUTTONTBABORT,.PSPUSHBUTTONTBCANCEL, .PSPUSHBUTTONTBLOOKUP{
    background-color: transparent;
    height:auto;
	border: 0px solid #EACCAE;	
	vertical-align: text-top;
	border-radius:2px;
}
.PSPUSHBUTTON,.PSPUSHBUTTONTBSAVE, .PSPUSHBUTTONTBSENDNOTIFY, .PSPUSHBUTTONTBAPPLY, .PSPUSHBUTTONTBCONTINUE, .PSPUSHBUTTONTBIGNORE, .PSPUSHBUTTONTBNO,  .PSPUSHBUTTONTBPREVIEW, .PSPUSHBUTTONTBRETRY, .PSPUSHBUTTONTBYES 
{
 	background-color: transparent;
    height:auto;
	border: 0px solid #EACCAE;	
	vertical-align: text-top;
	border-radius:2px;
	padding-bottom:1px;
}

.PSPUSHBUTTONTB{margin-right:0px; border:1px solid #e1b05d;border-bottom:1px solid #c59350;border-radius:2px; }


/*.PSPUSHBUTTONTB:hover,
*/
.PSPUSHBUTTONTBRETURN:hover, .PSPUSHBUTTONTBSENDNOTIFY:hover,.PSPUSHBUTTONTBNEXTINLIST:hover,.PSPUSHBUTTONTBADDMODE:hover, 
.PSPUSHBUTTONTBVIEWWORKLIST:hover,.PSPUSHBUTTONTBUPDATEMODE:hover, .PSPUSHBUTTONTBREFRESH:hover,.PSPUSHBUTTONTBPREVINLIST:hover,
.PSPUSHBUTTONTBNEXTINWORKLIST:hover,.PSPUSHBUTTONTBPREVINWORKLIST:hover,.PSPUSHBUTTONTBUPDATEALLMODE:hover, .PSPUSHBUTTONTBPREVTAB:hover,
.PSPUSHBUTTONTBNEXTTAB:hover, .PSPUSHBUTTONTB:hover,.PSPUSHBUTTONTBSAVE:hover{background-color: transparent;  /*padding-bottom: 1px;*/}

.PSPUSHBUTTONDISABLED#Left
{
display:inline-block;
border:1px solid #cccccc;
border-radius:2px;
text-decoration:none; 
cursor:pointer;
height:18px;
color:#999999;
cursor:default;
/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#DCDCDC'); for IE */
background-color: #DCDCDC; 
background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#DCDCDC)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #EBEBEB,  #DCDCDC); /* for firefox 3.6+ */
}
 
.PSPUSHBUTTONTB#Left
{
display:inline-block;
text-decoration:none; 
height:18px;
cursor:pointer;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCF0DA', endColorstr='#FAE6BF'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FCF0DA), to(#FAE6BF)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FCF0DA,  #FAE6BF); /* for firefox 3.6+ */
}
.PSPUSHBUTTON#Left
{
display:inline-block;
/*background-color: #fbefe3; */
border: 1px solid #d8a676 !important;
border-radius: 2px 2px 2px 2px;
text-decoration:none; cursor:pointer;
height:18px;
cursor:pointer;
padding:0px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCF0DA', endColorstr='#FAE6BF'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FCF0DA), to(#FAE6BF)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FCF0DA,  #FAE6BF); /* for firefox 3.6+ */
}

* html input.PSPUSHBUTTON, * html input.PSPUSHBUTTONTB,
* html input.PSPUSHBUTTONTBABORT, * html input.PSPUSHBUTTONTBADD, * html input.PSPUSHBUTTONTBADDMODE, * html input.PSPUSHBUTTONTBAPPLY,
* html input.PSPUSHBUTTONTBCANCEL, * html input.PSPUSHBUTTONTBCLEAR, * html input.PSPUSHBUTTONTBCONTINUE, * html input.PSPUSHBUTTONTBCORRECTMODE,
* html input.PSPUSHBUTTONTBDELETE, * html input.PSPUSHBUTTONTBIGNORE, * html input.PSPUSHBUTTONTBLOOKUP, * html input.PSPUSHBUTTONTBNEXTINLIST,
* html input.PSPUSHBUTTONTBNEXTINWORKLIST, * html input.PSPUSHBUTTONTBNEXTTAB, * html input.PSPUSHBUTTONTBNO, * html input.PSPUSHBUTTONTBOK, 
* html input.PSPUSHBUTTONTBPOPUP, * html input.PSPUSHBUTTONTBPREVIEW, * html input.PSPUSHBUTTONTBPREVINLIST, * html input.PSPUSHBUTTONTBPREVINWORKLIST,
* html input.PSPUSHBUTTONTBPREVTAB, * html input.PSPUSHBUTTONTBREFRESH, * html input.PSPUSHBUTTONTBREFRESH2, * html input.PSPUSHBUTTONTBRETRY, 
* html input.PSPUSHBUTTONTBRETURN, * html input.PSPUSHBUTTONTBSAVE, * html input.PSPUSHBUTTONTBSEARCH, * html input.PSPUSHBUTTONTBSENDNOTIFY,
* html input.PSPUSHBUTTONTBSPELLCHECK, * html input.PSPUSHBUTTONTBUPDATEALLMODE, * html input.PSPUSHBUTTONTBUPDATEMODE, 
* html input.PSPUSHBUTTONTBVIEWWORKLIST, * html input.PSPUSHBUTTONTBYES,* html input.PSPUSHBUTTONRETURN, * html input.PSPUSHBUTTONDISABLED
{
height:18px;
}

.PSPUSHBUTTONTB#Left:hover
{
display:inline-block;
text-decoration:none; 
cursor:pointer;
height:18px;
background:#fad9a5;
}
.PSPUSHBUTTON#Left:hover
{
	display:inline-block;
	background:#fad9a5;
	text-decoration:none; 
	cursor:pointer;
	height:18px;
}
/*
input.PSPUSHBUTTON{border:1px solid #eaccae; border-radius:2px;}
*/

span.spanNormalElement
{
color:#426a92;
}

#ptpopuptitlebar {
    border-bottom: 1px solid #E6E6E6;
}

.PSSRCHRESULTSHDR:link, .PSSRCHRESULTSHDR:visited {
    border-style: none;
    color: #426a92;
    font-family: Arial,sans-serif;
    font-size: 8pt;
    font-weight: bold;
}
.PSSRCHRESULTSHDRTXT:hover
{
text-decoration:underline;
color:#ab5b1a;
}

.PSQRYINSTRUCTIONS, .PSQRYRESULTSFOOTER{
    color: #515151;
    font-family: Arial,sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
}

/* Deprecated style classes. Please do not use.*/
.Go#Left,.PSTEXTMEDIUM#Left,.PORTLET-ICON-LABEL#Left,.HEADERBG#Left,.Bold#Left,.PORTLET-FORM-BUTTON#Left,.SmallFont#Left
{
	display:inline-block;
	border:1px solid #cccccc;border-radius:2px;
	text-decoration:none; cursor:pointer;
	height:18px;
	color:#cccccc;
	cursor:default;
	background-color:#eeeeee;
}

.Go#Left,.PSTEXTMEDIUM#Left,.PORTLET-ICON-LABEL#Left,.HEADERBG#Left,.Bold#Left,.PORTLET-FORM-BUTTON#Left,.SmallFont#Left
{
	display:inline-block;
	/*background-color: #fbefe3; */
	border: 1px solid #d8a676 !important;
	border-radius: 2px 2px 2px 2px;
	text-decoration:none; cursor:pointer;
	height:18px;
	cursor:pointer;
	padding:0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBEFE3', endColorstr='#F8E2CC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FBEFE3), to(#F8E2CC)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FBEFE3,  #F8E2CC); /* for firefox 3.6+ */
}

.Go#Left:hover,.PSTEXTMEDIUM#Left:hover,.PORTLET-ICON-LABEL#Left:hover,.HEADERBG#Left:hover,.Bold#Left:hover,.PORTLET-FORM-BUTTON#Left:hover,.SmallFont#Left:hover
{
	display:inline-block;
	background:#f7dcc4 ;
	text-decoration:none; cursor:pointer;
	height:18px;
}
