<!--
Last Updated By: TSLATER
On: 08/09/2013 08:48:50
-->

<link rel="stylesheet" type="text/css" href="/groovy_reports/styles/SyntaxHighlighter.css"> 
<script class="javascript" src="/groovy_reports/scripts/shCore.js"></script>
<script class="javascript" src="/groovy_reports/scripts/shBrushGroovy.js"></script>

<script class="javascript">
      if(window.isBloggerMode == true)
      dp.SyntaxHighlighter.BloggerMode();
     
      dp.SyntaxHighlighter.ClipboardSwf = 'Scripts/clipboard.swf';
      dp.SyntaxHighlighter.HighlightAll('code');
    </script>
</body>

<pre name="code" class="groovy">%Bind(:1)</pre>

<script class="javascript">
      if(window.isBloggerMode == true)
      dp.SyntaxHighlighter.BloggerMode();
     
      dp.SyntaxHighlighter.ClipboardSwf = 'Scripts/clipboard.swf';
      dp.SyntaxHighlighter.HighlightAll('code');
    </script>
</body
